<div class="wrapper">
    <header>
        <div class="container">
            <div class="row">
                <div class="col col-lg-3">
                    <p>Social Network</p>
                </div>
                <div class="col col-lg-4">
                    <form>
                        <!-- <form #filterForm="ngForm" (ngSubmit)="filterData()"> -->
                        <input type="text" class="form-control">
                        <!-- <input type="text" class="form-control" name="q" [(ngModel)]="filter.q"> -->
                    </form>
                </div>
                <div class="col col-lg-1">
                    <button class="btn btn-light">Upload</button>
                </div>
                <div class="col col-lg-4">
                    <div class="row">
                        <div class="col col-lg-2">
                            <img class="d-none d-sm-block" src="assets\profile avatars.png" alt="">
                        </div>
                        <div class="col col-lg-4">
                            <span> Waseem <br> Arshad</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <nav class="navbar navbar-expand ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">People</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Documents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Communities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Channels</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <hr>
    </header>

    <main>
        <section class="mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <h3>Videos</h3>
                        </div>
                        <div class="col-6 col-lg-6">
                            <span>Browse all video</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card" *ngFor="let article of articles | slice:0:1; let i=index">
                                <div class="box">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <div class="row">
                                        <div class="col-8">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" *ngFor="let article of articles | slice:0:2; let i=index">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-6">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4" *ngFor="let article of articles | slice:0:2; let i=index">
                            <div class="card">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-6">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="box-upload">
                                <h4>Upload</h4>
                                <span>Your Own Video</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <h3>Activity</h3>
                        </div>
                        <div class="col-6 col-lg-6">
                            <span class="text-small">View timeline/Filter activities</span>
                        </div>
                    </div>
                    <hr>

                    <div class="activity" *ngFor="let article of articles | slice:0:5; let i=index">
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <img class="img-activity" src="{{article.urlToImage}}" alt="">
                            </div>
                            <div class="col-lg-8 ">
                                <span> <b>{{article.author}}</b> Commented </span>
                                <br>
                                <span>{{article.source.name}} </span>
                                <br>
                                <span>2 second ago</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <section class="mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <h3>Peoples</h3>
                        </div>
                        <div class="col-6 col-lg-6">
                            <span>View all</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card" *ngFor="let article of articles | slice:0:1; let i=index">
                                <div class="box">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <div class="row">
                                        <div class="col-8">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" *ngFor="let article of articles | slice:0:2; let i=index">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <span>{{article.author}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4" *ngFor="let article of articles | slice:0:2; let i=index">
                            <div class="card">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>{{article.author}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="box-upload">
                                <h4>Show</h4>
                                <span>Your Work</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <h3>Channels</h3>
                        </div>
                        <div class="col-6 col-lg-6">
                            <span class="text-small">Browse all channels</span>
                        </div>
                    </div>
                    <hr>

                    <div *ngFor="let article of articles | slice:0:2; let i=index">
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="box-small">
                                        <img src="{{article.urlToImage}}" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>{{article.author}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="box-small">
                                        <img src="{{article.urlToImage}}" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>{{article.author}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <section class="mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-6 col-lg-5">
                            <h3>Documents</h3>
                        </div>
                        <div class="col-6 col-lg-7">
                            <span>Browse all documents</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card" *ngFor="let article of articles | slice:0:1; let i=index">
                                <div class="box">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <div class="row">
                                        <div class="col-8">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-4">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" *ngFor="let article of articles | slice:0:2; let i=index">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-6">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4" *ngFor="let article of articles | slice:0:2; let i=index">
                            <div class="card">
                                <div class="box-small">
                                    <img src="{{article.urlToImage}}" class="card-img-top">
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>{{article.author}}</span>
                                        </div>
                                        <div class="col-6">
                                            <span>100 viewers</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="box-upload">
                                <h4>Show</h4>
                                <span>Your Documents</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6 col-lg-6">
                            <h3>Events</h3>
                        </div>
                        <div class="col-6 col-lg-6">
                            <span class="text-small">View all events</span>
                        </div>
                    </div>
                    <hr>

                    <div class="activity" *ngFor="let article of articles | slice:0:5; let i=index">
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <img class="img-activity" src="{{article.urlToImage}}" alt="">
                            </div>
                            <div class="col-lg-8 ">
                                <span> <b>{{article.author}}</b> Commented </span>
                                <br>
                                <span>{{article.source.name}} </span>
                                <br>
                                <span>2 second ago</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <hr>
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="footer-icon-container mb-3">
                    <img [src]="'assets/icon-twitter.png'" alt="">
                    <img [src]="'assets/icon-linkedin.png'" alt="">
                    <img [src]="'assets/icon-facebook.png'" alt="">
                </div>
            </div>
        </div>
        <div class="list-footer">
            <ul>
                <li>About</li>
                <li>For Business</li>
                <li>Suggestion</li>
                <li>Help & FAQs</li>
                <li>Contacts</li>
                <li>Pricing</li>
            </ul>
        </div>

        <div class="copyright-footer">
            <span>©Copyright 2013 companymame.inc</span>
            <br>
            <span>Privacy / Terms</span>
        </div>
    </footer>
</div>